(barbwire_fence/textures/barbwire-32px-32px.png, barbwire_fence/textures/chainlink-32px-32px.png, barbwire_fence/textures/barbwire_fence_barbwire.png, barbwire_fence/textures/barbwire_fence_chainlink.png, barbwire_fence/textures/barbwire_fence_chainlink_barbwire.png, barbwire_fence/textures/barbwire_fence_wield.png, barbwire_fence/init.lua, barbwire_fence/mod.conf)